// size
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// colors
$header-color: #0077B6;
$footer-color: #0077B6;
$button-color:#023E8A;
$button-color-hover: #0077B6;
$select-border: #023E8A;
$select-focus-visible: #0077B6;
$table-header: #0096C7;
$table-font-color: #023E8A;
$table-row: #ADE8F4;
$table-row-light: #CAF0F8;
$text-color: #03045E;